<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<p>
This is a Master's thesis project titled "Accessible web photo gallery". It aims to provide a simple, accessible,<br>
easy-to-use photo gallery for everyone, including visually impaired people. It's capable of processing JSON <br>
metadata about buildings within the camera's FOV, as created by the AssistiveCamera application, developed by<br>
Ondřej Lapáček at the Faculty of Informatics of Masaryk University, Brno, Czechia.<br>
The source code is available under GPL 3.0 on <a href="https://github.com/xharcar/accessible-web-photogallery">GitHub</a>. <br>
It uses <a href="https://wiki.openstreetmap.org/wiki/Nominatim"> Nominatim</a> API functionality. <br>
Credit for all building data goes to <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors.
</p>
</body>
</html>