<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <title th:text="${ttl}"></title>
</head>
<body>
<b th:text="${msg}"></b>
<p th:text="'Toto je Lenna'"></p>
<b th:text="'Users'"></b>
<img th:src="${lenna}" alt="an image of Lena Soderberg"/>
<!--/*@thymesVar id="users" type=""*/-->
<p th:each="user : ${users}">
    <b th:text="${user}"></b>
</p>
<!--/*@thymesVar id="loggedInUser" type="java.lang.String"*/-->
<b th:text="${loggedInUser}"

</body>
</html>